.Présentation{
    font-size: 28px;
    color: #000000;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

body{
background-color: #02B0E8;
font-size: 20px;
border: 90mm ridge rgba(170, 50, 220, .6);


}
.Experiences{
    font-size: 12px;
    color: #000000
}

.Formation{
    color: #000000;
    margin-right: 15px;
    margin-left: 0px;
}
.contenu-test{
    display:flex;
    justify-content: space-between;
    margin-left: 150px;
}
.experience{
    width: 100%;
}
.formation{
    width: 100%;
    margin-left: 150px;
}
.photo{
    margin-top: 15px;
    margin-left: 450px;
    margin-right: 400px;
}
